.popap__input {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  font-family: "Inter", "Arial", sans-serif;
  width: 99%;
  border: none;
  border-bottom: 1px solid black;
  margin: 0 0 30px 0;
  padding: 0 0 0 0;
}

.popap__input:last-of-type {
  margin: 0 0 0 0;
}
