.profile__title {
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  padding: 0;
  margin: 0;
  font-family: "Inter", "Arial", sans-serif;
  grid-area: profile__title;
}

@media screen and (max-width: 890px) {
  .profile__title {
    font-size: 32px;
  }
}
