.popup__close {
  background: url(../../../images/Close__Icon.svg) no-repeat center;
  width: 32px;
  height: 32px;
  background-size: 32px;
  margin: 0;
  padding: 0;
  justify-content: center;
  position: absolute;
  border: 0;
  right: -40px;
  top: -40px;
  transition: opacity 0.5s ease-in-out;
  cursor: pointer;
}

.popup__close:hover {
  opacity: 0.6;
}



@media screen and (max-width: 587px) {
  .popup__close {
    width: 20px;
    height: 20px;
    background-size: 20px;
    right: 0px;
    top: -36px;
  }
}
